<div>
  <form [formGroup]="change_email_form">
    <div class="form-group">
      <label for="inputEmail">Nuevo email:</label>
      <input [(ngModel)]="new_email" [ngModelOptions]="{ standalone: true }" type="email" class="form-control"
        placeholder="{{ user.email }}" />
    </div>
    <div [innerHTML]="htmlAdd" class="my-2"></div>

    <button (click)="change_email()" class="btn btn-primary" [disabled]="!boton_enabled">
      <div [innerHTML]="boton"></div>
    </button>
  </form>
</div>