<div *ngIf="!user">
  <span>Iniciar sesion</span>
  <div class="menu">
    <form>
      <div class="form-group">
        <input
          type="username"
          class="form-control"
          [(ngModel)]="usuario"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Usuario"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          [(ngModel)]="clave"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Clave"
        />
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" />
        <label class="form-check-label" for="Check">
          Recordarme
        </label>
      </div>
      <button
        (click)="ComprobarUsuario()"
        type="submit"
        class="mb-2 btn btn-secondary"
      >
        Entrar
      </button>
    </form>
    <a class="text-center" href="#">Olvidaste contrase&ntilde;a</a>
  </div>
  <div class="error-login" [innerHtml]="htmlToAdd"></div>
</div>
<div *ngIf="user">
  <span>Panel de Control</span><br /><br />
  <div>
    <strong>{{ usuario }}</strong>
  </div>
  <div class="list-group list-group-flush">
    <a class="list-group-item bgnone" routerLink="/user">Mi Cuenta</a>
    <a class="list-group-item bgnone" routerLink="/user/personajes"
      >Personajes</a
    >
    <a class="list-group-item bgnone" href="/user/shop">Tienda</a>
    <button (click)="clickedSalir()" class="list-group-item bgnone">
      Salir
    </button>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Verificar cuenta</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="form-group d-flex flex-column align-items-center">
            <label for="security_code">
              Codigo de verificacion:
            </label>
            <input
              type="text"
              name="security_code"
              class="form-control w-50"
              [(ngModel)]="verification_code"
              [ngModelOptions]="{ standalone: true }"
            />
            <div [innerHTML]="htmlModal"></div>
          </div>
          <button (click)="comprobar_activacion()" class="btn btn-primary">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
