<div>
  <form [formGroup]="change_pass_form">
    <div class="form-group">
      <label for="inputEmail">Nueva contrase&ntilde;a:</label>
      <input
        [(ngModel)]="new_pass1"
        [ngModelOptions]="{ standalone: true }"
        type="password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="inputEmail">Repetir nueva contrase&ntilde;a:</label>
      <input
        [(ngModel)]="new_pass2"
        [ngModelOptions]="{ standalone: true }"
        type="password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Contrase&ntilde;a actual:</label>
      <input
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        type="password"
        class="form-control"
      />
    </div>
    <div [innerHTML]="htmlAdd" class="my-2"></div>
    <button (click)="change_pass()" class="btn btn-primary">Cambiar</button>
  </form>
</div>
