.lista{
    width: 150px;
}

.contenedor-lista{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 35px;
    padding-bottom: 10px;
}

p{
    margin: 0;
}

.contenedor-boton{
    width: 140px;
    margin-right: 40px;
}