<table class="table text-center">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Clase</th>
      <th scope="col">Nivel</th>
      <th scope="col">Reset</th>
      <th scope="col">Opciones</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody *ngFor="let item of personajes">
    <tr>
      <td class="py-1 align-middle">{{ item.personaje }}</td>
      <td [ngSwitch]="item.clase" class="py-1 align-middle">
        <div *ngSwitchCase="0">WIZ</div>
        <div *ngSwitchCase="1">SM</div>
        <div *ngSwitchCase="2">GM</div>
        <div *ngSwitchCase="16">DK</div>
        <div *ngSwitchCase="17">BK</div>
        <div *ngSwitchCase="18">BM</div>
        <div *ngSwitchCase="32">ELF</div>
        <div *ngSwitchCase="33">ME</div>
        <div *ngSwitchCase="34">HE</div>
        <div *ngSwitchCase="48">MG</div>
        <div *ngSwitchCase="49">DM</div>
        <div *ngSwitchCase="64">DL</div>
        <div *ngSwitchCase="65">LE</div>
        <div *ngSwitchCase="80">SUM</div>
        <div *ngSwitchCase="81">BS</div>
        <div *ngSwitchCase="82">DimM</div>
        <div *ngSwitchCase="96">RF</div>
        <div *ngSwitchCase="97">FM</div>
      </td>
      <td class="py-1 align-middle">{{ item.nroLevel }}</td>
      <td class="py-1 align-middle">{{ item.nroReset }}</td>
      <td class="py-1 align-middle">
        <!-- LISTA DE OPCIONES -->
        <select name="options" [(ngModel)]="option" class="form-control form-control-sm">
          <option value="0">Reiniciar puntos</option>
          <option value="1">Destrabar personaje</option>
          <option value="2">Expandir inventario</option>
        </select>
      </td>
      <td class="py-1 align-middle">
        <button (click)="options_controller(item.personaje)" class="btn btn-primary btn-sm">
          <svg class="bi bi-arrow-bar-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M11.354 5.854a.5.5 0 000-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 10.708.708L8 3.207l2.646 2.647a.5.5 0 00.708 0z"
              clip-rule="evenodd" />
            <path fill-rule="evenodd"
              d="M8 10a.5.5 0 00.5-.5V3a.5.5 0 00-1 0v6.5a.5.5 0 00.5.5zm-4.8 1.6c0-.22.18-.4.4-.4h8.8a.4.4 0 010 .8H3.6a.4.4 0 01-.4-.4z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="input-group my-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Contrase&ntilde;a</span>
  </div>
  <input type="password" class="form-control" [(ngModel)]="password">
  <div class="input-group-append">
    <button (click)="warehouse_expand()" class="btn btn-primary" type="button">Expandir Baul</button>
  </div>
</div>
<div class="my-1" [innerHTML]="htmlAdd"></div>