<!-- INICIO FOR LOOP NOTICIAS-->

<div class="card my-3">
  <div class="card-header">
    <h5 class="titulo-noticia">Reportar Bugs</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        Se solicita enviar un mail en la sección de <a routerLink="/contact">contacto</a> en caso de encontrar algun bug o falla, tanto de la web como del juego.
        Esto nos ayudara a lanzar el Mu mucho mas rapido. Se les recuerda que al estar en fase de desarrollo, es posible que se
         reinicie constantemente, o se apague por tiempo indefinido.
      </p>
      <footer class="blockquote-footer">
        Publicado por <cite title="Source Title">Administrador</cite>
      </footer>
    </blockquote>
  </div>
</div>


<div class="card my-3">
  <div class="card-header">
    <h5 class="titulo-noticia">Bienvenidos a Mu NewAge</h5>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>
        # MU ONLINE SEASON 6 EPISODIO 3 #<br>
        -SERVIDOR 100 XP - 35% DROP <br>
        -Maximo Nivel Normal: 400 <br>
        -Borra stats, 500 puntos por reset <br>
        -Drop del Zen: Bajo <br>
        -Drop de Joyas: Medio <br>
        -Drop Exe: Solo en cajas Kundun <br>
        -Item Full: No, maximo 3 opc <br>
        -Creacion de PJs a cualquier nivel <br>
        -Cuentas simultáneas: 2 <br>
        -Eventos funcionando <br> <br>
        Actualmente se encuentra en fase de prueba y la web en desarrollo, fecha de apertura por definir!!
      </p>
      <footer class="blockquote-footer">
        Publicado por <cite title="Source Title">Administrador</cite>
      </footer>
    </blockquote>
  </div>
</div>
