<div class="text-center pt-3">
  <span class="">Descargar cliente</span>
</div>
<div class="pt-4 contenedor">
  <div class="py-2">
    <button class="btn-lg btn-primary boton-descarga" (click)="linkDescarga(0)">
      Drive
    </button>
  </div>
  <div class="py-2">
    <button class="btn-lg btn-primary boton-descarga" (click)="linkDescarga(1)">
      Mega
    </button>
  </div>
  <div class="py-2">
    <button class="btn-lg btn-primary boton-descarga" (click)="linkDescarga(2)">
      Mediafire
    </button>
  </div>
</div>
