<section class="home">
  <div class="container">
    <div class="cuerpo-container">
      <div class="left columna pr-3">
        <div class="login">
          <app-login></app-login>
          <div class="dropdown-divider"></div>
          <div>
            <span>Menu</span>
            <div class="list-group list-group-flush">
              <a class="list-group-item" routerLink="/">Noticias</a>
              <a class="list-group-item" routerLink="/downloads">Descargas</a>
              <a class="list-group-item" routerLink="/ranking">Ranking</a>
              <a class="list-group-item" routerLink="/shop">Tienda</a>
              <a class="list-group-item" routerLink="/contact">Contacto</a>
              <a class="list-group-item" routerLink="/useconditions"
                >Condiciones de uso</a
              >
              <a class="list-group-item" routerLink="/forum">Foros y guias</a>
            </div>
          </div>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <!-- CONTENIDO -->
      <div class="center pt-3 px-3">
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
      <!--FIN CONTENIDO-->
      <div class="right columna pl-3">
        <div class="server_stats">
          <span>Servidor</span>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Server 1: status</li>
            <li class="list-group-item">Server 2: status</li>
            <li class="list-group-item">Server 3: status</li>
          </ul>
        </div>
        <div class="dropdown-divider"></div>
        <div class="players_rank">
          <span>Top 10</span>
          <ul class="list-group list-group-flush">
            <li *ngFor="let item of ranking" class="list-group-item py-1">
              {{ item.personaje }}
            </li>
          </ul>
        </div>
        <div class="dropdown-divider"></div>
        <div class="guild_rank">
          <span>Guild ranking</span>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Guild 1</li>
            <li class="list-group-item">Guild 2</li>
            <li class="list-group-item">Guild 3</li>
            <li class="list-group-item">Guild 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
