.home {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.container {
  width: 1024px;
  background-color: white;
}

/* ----- CUERPO ----- */

.cuerpo-container {
  display: grid;
  height: 100%;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas: "left center right";
}

.left {
  grid-area: left;
  padding-right: 10px;
  border-right: 1px solid lightgray;
}

span {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.center {
  grid-area: center;
  height: inherit;
}

.right {
  grid-area: right;
  padding-left: 10px;
  border-left: 1px solid lightgray;
}

.columna {
  height: inherit;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
/* ----- CUERPO ----- */
