<section class="home">
  <div class="contenedor">
    <div class="text-center">
      <img
        class="img-fluid header-image"
        src="../../assets/images/mu-origin-key-art-banner.jpg"
      />
    </div>
    <div class="cuerpo-container">
      <div class="left columna pr-3">
        <div class="login">
          <app-login></app-login>
          <div class="mt-3">
            <span>Menu</span>
            <div class="list-group list-group-flush">
              <a class="list-group-item bgnone" routerLink="/">Noticias</a>
              <a class="list-group-item bgnone" routerLink="/downloads">Descargas</a>
              <a class="list-group-item bgnone" routerLink="/ranking">Ranking</a>
              <a class="list-group-item bgnone" routerLink="/shop">Tienda</a>
              <a class="list-group-item bgnone" routerLink="/shop">Contacto</a>
            </div>
          </div>
        </div>
      </div>
      <!-- CONTENIDO -->
      <div class="center pt-3 px-3">
        <div [innerHTML]="htmladd"></div>
        <router-outlet #routerOutlet="outlet"></router-outlet>
      </div>
      <!--FIN CONTENIDO-->
      <div class="right columna pl-3">
        <div class="server_stats">
          <span>Servidor</span>
          <ul class="list-group list-group-flush">
            <li class="list-group-item bgnone py-1">
              Server 1:
              <div *ngIf="online; else elseBlock">
                <strong class="text-success">online</strong>
              </div>
              <ng-template #elseBlock
                ><strong class="text-danger">offline</strong></ng-template
              >
            </li>
            <li class="list-group-item bgnone py-1">
              Usuarios online:<br />
              <strong class="text-success">{{ onlineUs }}</strong>
            </li>
          </ul>
        </div>
        <div class="players_rank">
          <span>Top 10</span>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let item of ranking"
              class="list-group-item bgnone py-1"
            >
              {{ item.personaje }}
              <small
                ><strong
                  >{{ item.nroLevel }}({{ item.nroReset }})</strong
                ></small
              >
            </li>
          </ul>
        </div>
        <div class="guild_rank">
          <span>Guild ranking</span>
          <ul class="list-group list-group-flush">
            <li
              *ngFor="let item of ranking_guild"
              class="list-group-item bgnone py-1"
            >
              {{ item.nombre }}
              <small
                ><strong>{{ item.puntos }}</strong></small
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
