<div class="pt-3 px-3">
  <p>Registrarse</p>
  <form>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="email"
        class="form-control"
        id="inputEmail"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="inputUser">Usuario</label>
      <input
        type="username"
        class="form-control"
        id="inputUser"
        aria-describedby="userHelp"
        placeholder="Nombre de usuario"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contrase&ntilde;a</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword1"
        placeholder="Contrase&ntilde;a"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword2">Repetir contrase&ntilde;a</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="Repetir contrase&ntilde;a"
      />
    </div>
    <div class="form-check align-items-center">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1"
        >Acepto los terminos y condiciones.</label
      >
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
